.loading-mask {
  position: fixed;
  /* or 'absolute' if the parent is positioned */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* semi-transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* high z-index to ensure it's above other elements */
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}