spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  sql:
    init:
      # enabled: true
      # data-locations: classpath:sql-init.sql
  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8091

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://host.docker.internal:8091/eureka/
  server:
    enable-self-preservation: false