<nav class="bg-blue-600">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
        </div>
        <div class="hidden sm:ml-6 sm:flex">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
          <a href="#" class="text-white px-3 py-2 rounded-md text-sm font-medium">Shop</a>
          <button href="#" class="text-white px-3 py-2 rounded-md text-sm font-medium" (click)="clearLocalStorage()">Clear state</button>
        </div>
      </div>
      <div class="hidden sm:flex sm:items-center">
        <a [routerLink]="['/cart']" routerLinkActive="router-link-active" class="text-white px-3 py-2 rounded-md text-sm font-medium cart-notification" [attr.data-count]="cartItemCount$|async">Cart</a>
        <button *ngIf="!(user$|async)" (click)="login()" class="text-white px-3 py-2 rounded-md text-sm font-medium">Log In</button>
        <span *ngIf="user$|async as user" class="text-white px-3 py-2 rounded-md text-sm font-medium">{{ user.email }}</span>
      </div>
    </div>
  </div>
</nav>
